<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h5 class="text-danger">Se encontraron los siguiente errores:</h5>

      <ul class="ml-3 text-danger">
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
      <%= form.label :IdRequestQuotation, 'N° Solicitud' %>
    </div>
    <div class="col-sm-9">
      <%= 
      if session[:s_request_quotation_id]
        form.select :request_quotation_id, RequestQuotation.all.collect {|e| [e.id, e.id]}, { selected: session[:s_request_quotation_id] }, { class: "form-control" }
      else
        form.select :request_quotation_id, RequestQuotation.all.collect {|e| [e.id, e.id]}, {:include_blank => "Seleccione la Solicitud"}, {:class => "form-control"}
      end
      %>
    </div>
  </div>
  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
      <%= form.label :AppointmentDate, 'Fecha Cita' %>
    </div>
    <div class="col-sm-9">
      <%= form.datetime_select :AppointmentDate, :class => "form-control" %>
    </div>
  </div>
  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
      <%= form.label :IsAttended, 'Atendido' %>
    </div>
    <div class="col-sm-9">
      <%= form.check_box :IsAttended, :class => "checkBoxSyleForm" %>
    </div>
  </div>
  <br>

  <div class="actions">
    <%= form.submit "Guardar", :type => :image, :src => "/assets/SaveIconBig.png", :title => 'Guardar' %>
  </div>
<% end %>
