<div class="jumbotron p-4">
  <h2><b>Ver | Citas</b></h2>
	<div class="table-responsive-sm w-50">
		<h5>
			<p id="notice" class="badge badge-pill badge-success pt-2 pb-2"><%= notice %></p>
		</h5>

		<p>
		  <strong>N° Solicitud:</strong>
		  <td><%= RequestQuotation.select(:id).where("id = " + @appointment.request_quotation_id.to_s).collect(&:id)[0] %></td>
		</p>

		<p>
		  <strong>Fecha Cita:</strong>
		  <%= @appointment.AppointmentDate %>
		</p>

		<p>
		  <strong>Atendido:</strong>
          <%= check_box_tag "IsActive", 0, @appointment.IsAttended, disabled: true, class: "checkBoxSyleIndex" %>
		</p>

		<%= link_to image_tag('EditIconBig.png'), edit_appointment_path(@appointment), title: 'Editar' %> |
	    <%= 
	      if session[:s_request_quotation_id]
	        link_to image_tag('BackIconBig.png'), request_quotation_path(session[:s_request_quotation_id]), title: 'Atras'
	      else 
	        link_to image_tag('BackIconBig.png'), appointments_path, title: 'Atras'
	      end
	    %>	

	</div>
</div>
