<div class="jumbotron p-4">
	<h2><b>Gestor de Proformas</b></h2>
	<div class="table-responsive-sm">
		<table class="table table-striped table-hover">
			<thead class="thead-dark">
				<tr>
				  <th>Nombre</th>
				  <th>Apellidos</th>
				  <th>DNI</th>
				  <!--<th>Correo</th>-->
				  <th>Celular</th>
				  <th>Proyecto</th>
				  <th>Vigencia</th>
				  <th>N° Depart</th>
				  <th>N° Piso</th>
				  <th>Costo</th>
                  <th class="text-center" colspan="2"><%= link_to 'Nuevo', 'new' %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
			        <td>Juan</td>
			        <td>Velasques Torres</td>
			        <td>41231231</td>
			        <!--<td>jvelasques@outlook.com</td>-->
			        <td>998138831</td>
			        <td>Los Antares</td>
			        <td>2019/04/30</td>
			        <td>410</td>
			        <td>Piso 4</td>
			        <td>$ 270,600</td>
                    <td class="text-center"><%= link_to 'Editar', 'edit' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<tr>
			        <td>Antonio</td>
			        <td>Caceres Cruz</td>
			        <td>21234141</td>
			        <!--<td>antonio919_12@gmail.com</td>-->
			        <td>992378121</td>
			        <td>Las Lomas</td>
			        <td>2019/04/15</td>
			        <td>100</td>
			        <td>Piso 1</td>
			        <td>$ 310,100</td>
                    <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<tr>
			        <td>Luis</td>
			        <td>Perez Saenz</td>
			        <td>08992399</td>
			        <!--<td>lpsa190@yahoo.com</td>-->
			        <td>998293818</td>
			        <td>El Olivar</td>
			        <td>2019/06/02</td>
			        <td>705</td>
			        <td>Piso 7</td>
			        <td>$ 240,500</td>
                    <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<tr>
			        <td>Maria</td>
			        <td>Chavez Reque</td>
			        <td>09021280</td>
			        <!--<td>mchavezr@outlook.com</td>-->
			        <td>993103391</td>
			        <td>El Olivar</td>
			        <td>2019/04/20</td>
			        <td>102</td>
			        <td>Piso 1</td>
			        <td>$ 330,000</td>
                    <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<tr>
			        <td>Angel Miguel</td>
			        <td>Flores Ramos</td>
			        <td>41989918</td>
			        <!--<td>amiguelramos@gmail.com</td>-->
			        <td>998893183</td>
			        <td>La Aurora</td>
			        <td>2019/05/10</td>
			        <td>520</td>
			        <td>Piso 5</td>
			        <td>$ 290,300</td>
                    <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<tr>
			        <td>Miguel</td>
			        <td>Perez Loza</td>
			        <td>20909910</td>
			        <!--<td>mperez2091_12@hotmail.com</td>-->
			        <td>990239913</td>
			        <td>El Alamo</td>
			        <td>2019/05/10</td>
			        <td>200</td>
			        <td>Piso 2</td>
			        <td>$ 305,300</td>
                    <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			</tbody>
		</table>
	</div>
    <div class="row">
    	<div class="col-sm-2">
    		<a href="/administration/intranet" class="btn btn-primary btn-block">Regresar</a>
    	</div>
    	<div class="col-sm-3">
    	</div>
        <div class="btn-toolbar text-center col-sm-5" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary"><i
                        class="fas fa-angle-double-left"></i></button>
                <button type="button" class="btn btn-secondary"><i
                        class="fas fa-chevron-left"></i></button>
                <button type="button" class="btn btn-secondary"><i
                        class="fas fa-chevron-right"></i></button>
                <button type="button" class="btn btn-secondary"><i
                        class="fas fa-angle-double-right"></i></button>
            </div>
        </div>
    	<div class="col-sm-2">
    	</div>
    </div>
</div>