<%= form_for :newproject, :html => { :method => :get, :class => "form-horizontal" } do |f| %>
		<table class="jumbotron w-100">
			<tr class="row">
				<td class="col-sm-7">
					<div class="ml-3 mt-4 row">
						<div class="col-sm-3">
							<%= f.label :lblnombre, "Nombre" %>
						</div>
						<div class="col-sm-9">
							<%= f.text_field :tfnombre, :class => "form-control" %>
						</div>
					</div>

					<div class="ml-3 mt-2 row">
						<div class="col-sm-3 pb-0">
							<%= f.label :lblubicacion, "Ubicación" %>
						</div>
						<div class="col-sm-9">
							<%= f.text_field :tfubicacion, :class => "form-control" %>
						</div>
					</div>

					<div class="ml-3 mt-2 row">
						<div class="col-sm-3">
							<%= f.label :lblprecio, "Precio" %>
						</div>
						<div class="col-sm-5">
							<%= f.number_field :nfprecio, :class => "form-control" %>
						</div>
						<div class="col-sm-4 pl-0 pt-2 text-left align-middle">
							metro cuadrado
						</div>
					</div>

					<div class="ml-3 mt-2 row">
						<div class="col-sm-3">
							<%= f.label :lblnpisos, "N° de Pisos" %>
						</div>
						<div class="col-sm-5">
							<%= f.number_field :nfnpisos, :class => "form-control" %>
						</div>
						<div class="col-sm-4">
						</div>
					</div>

					<div class="ml-3 mt-2 row">
						<div class="col-sm-3">
							<%= f.label :lbldescripcion, "Descripción" %>
						</div>
						<div class="col-sm-9">
							<%= f.text_area :tadescripcion, { :class => "form-control", :rows => 6 } %>
						</div>
					</div>

					<div class="ml-2 mt-2 row">
						<div class="col-sm-9">
							<a href="/project/manager" class="btn btn-primary">Regresar</a>
						</div>
						<div class="text-right col-sm-3">
							<%= f.submit "Guardar", :class => "btn btn-success" %>
						</div>
					</div>
				</td>
				<td class="col-sm-5">
					<div>
						<img> <%= image_tag('Project.jpg', :class => "img-thumbnail") %> 
					</div>
				</td>
			</tr>
		</table>
<% end -%>	