<%= form_for :projectdetails, :html => { :method => :get, :class => "form-horizontal" } do |f| %>
	<div class="jumbotron p-4">
		<h2><b>Proyecto Las Lomas</b></h2>
		<table class="jumbotron w-100">
			<tr class="row">
				<td class="col-sm-6">
					<div class="ml-3 mt-4 row col-sm-12">
						<p class="text-justify">
							Uno de los edificios inteligentes más modernos de la zona, localizado a media cuadra de la Huaca Pucllana, en pleno centro de Miraflores, en una calle tranquila, con poco tránsito y cerca a los restaurantes Carnal, La Bodega de la Trattoria, la heladería 4D, la nueva Clínica Delgado, a pocas cuadras del Óvalo Gutiérrez en donde se encuentran cines, Wong, Starbucks, a pocas cuadras de la Av. Arequipa, entre otros, pero gozando de la privacidad y tranquilidad de una calle poco transitada. Un terreno cuadrado que permite una arquitectura que no desperdicia mucho espacio en corredores. Optimiza cada espacio haciéndolo útil. Diseñado por el renombrado arquitecto Jordi Puig cuenta con un moderno diseño de volúmenes que evocan movimiento y un generoso acceso principal con vista a jardines en diferentes alturas. Una propuesta urbana moderna, con acabados de primera.
						</p>
					</div>
					<div class="row"> 
						<div class="col-sm-6 text-center">
							<a href="/" class="btn btn-primary">Regresar</a>
						</div>
						<br><br>
						<div class="col-sm-6 text-center">
							<a href="/requestquotation/new" class="btn btn-success">Cotizar</a>
						</div>
					</div>
				</td>
				<td class="col-sm-6">
					<div>
						<img> <%= image_tag('Edificio2_opt2.jpg', :class => "img-thumbnail") %> 
					</div>
				</td>
			</tr>
		</table>

<!--Agregado-->

		<%= render 'pages/project/details_common_areas' %>

		<%= render 'pages/project/common_areas' %>

		<%= render 'pages/project/galery' %>
		
<!--Agregado - FIN-->



	</div>
<% end -%>