<div class="jumbotron p-4">
	<h2><b>Gestor de Proyectos</b></h2>
	<div class="d-flex justify-content-center mt-4">
		<table class="table table-hover w-75">
			<thead class="thead-dark">
				<tr>
				  <th class="text-center" colspan="2"><%= link_to 'Nuevo', 'new' %></th>
				  <th>Nombre</th>
				  <th>Ubicación</th>
				  <th>Precio (m²)</th>
				  <th>Pisos</th>
				</tr>
			</thead>
			<tbody>
				<tr>
			        <td class="text-center"><%= link_to 'Editar', 'edit' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
			        <td>Proyecto Antares</td>
			        <td>Miraflores</td>
			        <td>$ 125</td>
			        <td>20</td>
				</tr>
				<tr>
			        <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
			        <td>Proyecto Las Lomas</td>
			        <td>Magdalena</td>
			        <td>$ 150</td>
			        <td>15</td>
				</tr>
				<tr>
			        <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
			        <td>Proyecto Las Torres</td>
			        <td>La Molina</td>
			        <td>$ 210</td>
			        <td>10</td>
				</tr>
				<tr>
			        <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
			        <td>Proyecto El Olivar</td>
			        <td>San Isidro</td>
			        <td>$ 180</td>
			        <td>25</td>
				</tr>
				<tr>
			        <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
			        <td>Proyecto La Aurora</td>
			        <td>Surco</td>
			        <td>$ 192</td>
			        <td>16</td>
				</tr>
				<tr>
			        <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
			        <td>Proyecto El Alamo</td>
			        <td>Chorrillos</td>
			        <td>$ 162</td>
			        <td>23</td>
				</tr>
			</tbody>
		</table>
	</div>
    <div class="col-sm-6 offset-md-5">
        <div class="btn-toolbar text-center" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary"><i
                        class="fas fa-angle-double-left"></i></button>
                <button type="button" class="btn btn-secondary"><i
                        class="fas fa-chevron-left"></i></button>
                <button type="button" class="btn btn-secondary"><i
                        class="fas fa-chevron-right"></i></button>
                <button type="button" class="btn btn-secondary"><i
                        class="fas fa-angle-double-right"></i></button>
            </div>
        </div>
    </div>
</div>