<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    <% if logged_in? %>
        <li class="nav-item dropdown">
          <%= link_to "Inicio", { :controller => "administration", :action => "intranet" }, :class => "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Maestros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Banco", { :controller => "banks", :action => "index" }, :class => "dropdown-item" %>
            <%= link_to "Cliente", { :controller => "clients", :action => "index" }, :class => "dropdown-item" %>
            <%= link_to "Tipo de Departamento", { :controller => "apartment_types", :action => "index" }, :class => "dropdown-item" %>          
            <%= link_to "Ubigeo - Distrito", { :controller => "cities", :action => "index" }, :class => "dropdown-item" %>
            <%= link_to "Ubigeo - Departamento", { :controller => "states", :action => "index" }, :class => "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seguridad
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Perfil", { :controller => "profiles", :action => "index" }, :class => "dropdown-item" %>          
            <%= link_to "Usuario", { :controller => "users", :action => "index" }, :class => "dropdown-item" %>          
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Proyectos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Proyectos", { :controller => "projects", :action => "index" }, :class => "dropdown-item" %>          
            <%= link_to "Departamentos", { :controller => "project_apartments", :action => "index" }, :class => "dropdown-item" %>
            <%= link_to "Fotos Departamento", { :controller => "apartment_pictures", :action => "index" }, :class => "dropdown-item" %>
            <%= link_to "Tipos de Departamento", { :controller => "project_apartment_types", :action => "index" }, :class => "dropdown-item" %>
            <%= link_to "Precios", { :controller => "project_ap_type_prices", :action => "index" }, :class => "dropdown-item" %>
          </div>

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Solicitud de Cotizaci贸n
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Gestor", { :controller => "request_quotations", :action => "index" }, :class => "dropdown-item" %>          
            <%= link_to "Nueva Solicitud", { :controller => "request_quotations", :action => "new" }, :class => "dropdown-item" %>          
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cotizaci贸n
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Gestor", { :controller => "quotations", :action => "index" }, :class => "dropdown-item" %>          
            <%= link_to "Nueva Cotizaci贸n", { :controller => "quotations", :action => "new" }, :class => "dropdown-item" %>          
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Citas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Gestor", { :controller => "appointments", :action => "index" }, :class => "dropdown-item" %>          
            <%= link_to "Nueva Cita", { :controller => "appointments", :action => "new" }, :class => "dropdown-item" %>          
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reservas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Gestor", { :controller => "apartment_bookings", :action => "index" }, :class => "dropdown-item" %>          
            <%= link_to "Nueva Reserva", { :controller => "apartment_bookings", :action => "new" }, :class => "dropdown-item" %>          
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ventas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Gestor", { :controller => "sales", :action => "index" }, :class => "dropdown-item" %>          
            <%= link_to "Nueva Venta", { :controller => "sales", :action => "new" }, :class => "dropdown-item" %>          
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Reportes", { :controller => "administration", :action => "report" }, :class => "dropdown-item" %> 
       
          </div>
        </li>
      <% else %>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Solicitud de Cotizaci贸n
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">      
            <%= link_to "Nueva Solicitud", { :controller => "request_quotations", :action => "new" }, :class => "dropdown-item" %>          
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
