<%= form_with(model: apartment_booking, local: true) do |form| %>
  <% if apartment_booking.errors.any? %>
    <div id="error_explanation">
      <h5 class="text-danger">Se encontraron los siguiente errores:</h5>

      <ul class="ml-3 text-danger">
      <% apartment_booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <hr>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-4">
      <%= form.label :quotation_id, 'Cotización' %>
    </div>
    <div class="col-sm-8">
      <%= form.select :quotation_id, Quotation.all.collect {|e| [e.id, e.id]}, {:include_blank => "Seleccione la Cotizacion"}, {:class => "form-control"} %>
    </div>
  </div>


  <div class="ml-3 mt-4 row">
    <div class="col-sm-4">
      <%= form.label :client_id, 'Cliente' %>
    </div>
    <div class="col-sm-8">
      <%= form.select :client_id, Client.all.collect {|e| [e.Name + ' ' + e.LastName, e.id]}, {:include_blank => "Seleccione el Cliente"}, {:class => "form-control"} %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-4">
      <%= form.label :bank_id, 'Banco' %>
    </div>
    <div class="col-sm-8">
      <%= form.select :bank_id, Bank.all.collect {|e| [e.Name, e.id]}, {:include_blank => "Seleccione el Banco"}, {:class => "form-control"} %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-4">
      <%= form.label :BookingDate, 'Fecha' %>
    </div>
    <div class="col-sm-8">
      <%= form.date_select :BookingDate, {:class => "form-control"} %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-4">
      <%= form.label :BookPrice, 'Monto Reserva' %>
    </div>
    <div class="col-sm-8">
      <%= form.number_field :BookPrice, {:class => "form-control"} %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-4">
      <%= form.label :VoucherNumber, 'N° de Comprobante' %>
    </div>
    <div class="col-sm-8">
      <%= form.text_field :VoucherNumber, {:class => "form-control"} %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-4">
      <%= form.label :IsActive, 'Activo' %>
    </div>
    <div class="col-sm-8">
      <%= form.check_box :IsActive, :class => "checkBoxSyleForm" %>
    </div>
  </div>
  <hr>
  <div class="actions">
    <%= form.submit "Guardar", :type => :image, :src => "/assets/SaveIconBig.png", :title => 'Guardar' %>
  </div>
<% end %>
