<div class="jumbotron p-4">
  <h2><b>Ver | Proyectos</b></h2>
  <div class="table-responsive-sm w-50">
    <h5>
      <p id="notice" class="badge badge-pill badge-success pt-2 pb-2"><%= notice %></p>
    </h5>
    <hr>
    <p>
      <strong>N째 de Reserva:</strong>
      <%= @apartment_booking.id %>
    </p>

    <p>
      <strong>N째 Cotizaci처n:</strong>
      <%= Quotation.select(:id).where("id = " + @apartment_booking.quotation_id.to_s).collect(&:id)[0] %>
    </p>

    <p>
      <strong>Cliente:</strong>
      <%= Client.select(:Name, :LastName).where("id = " + @apartment_booking.client_id.to_s).collect {|e| e.Name + ' ' + e.LastName} [0] %>
    </p>

    <p>
      <strong>Banco:</strong>
      <%= Bank.select(:Name).where("id = " + @apartment_booking.bank_id.to_s).collect(&:Name)[0] %>
    </p>

    <p>
      <strong>Fecha:</strong>
      <%= @apartment_booking.BookingDate %>
    </p>

    <p>
      <strong>Monto Reserva:</strong>
      <%= @apartment_booking.BookPrice %>
    </p>

    <p>
      <strong>N째 de Comprobante:</strong>
      <%= @apartment_booking.VoucherNumber %>
    </p>

    <p>
      <strong>Activo:</strong>
      <%= check_box_tag "IsActive", 0, @apartment_booking.IsActive, disabled: true, class: "checkBoxSyleIndex" %>
    </p>
    <hr>
    <%= link_to image_tag('EditIconBig.png'), edit_apartment_booking_path(@apartment_booking), title: 'Editar' %> |
    <%= link_to image_tag('BackIconBig.png'), apartment_bookings_path, title: 'Atras'  %>

  </div>
</div>
