<p id="notice"><%= notice %></p>

<p>
  <strong>Idapartmenttypeprice:</strong>
  <%= @apartment_type_price.IdApartmentTypePrice %>
</p>

<p>
  <strong>Idapartmenttype:</strong>
  <%= @apartment_type_price.IdApartmentType %>
</p>

<p>
  <strong>Registerdate:</strong>
  <%= @apartment_type_price.RegisterDate %>
</p>

<p>
  <strong>Validfor:</strong>
  <%= @apartment_type_price.ValidFor %>
</p>

<p>
  <strong>Percentajediscount:</strong>
  <%= @apartment_type_price.PercentajeDiscount %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @apartment_type_price.Floor %>
</p>

<p>
  <strong>Finalprice:</strong>
  <%= @apartment_type_price.FinalPrice %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @apartment_type_price.IsActive %>
</p>

<%= link_to 'Edit', edit_apartment_type_price_path(@apartment_type_price) %> |
<%= link_to 'Back', apartment_type_prices_path %>
