<p id="notice"><%= notice %></p>

<p>
  <strong>Idapartmenttype:</strong>
  <%= @apartment_type.IdApartmentType %>
</p>

<p>
  <strong>Idproject:</strong>
  <%= @apartment_type.IdProject %>
</p>

<p>
  <strong>Name:</strong>
  <%= @apartment_type.Name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @apartment_type.Quantity %>
</p>

<p>
  <strong>Available:</strong>
  <%= @apartment_type.Available %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @apartment_type.Sold %>
</p>

<p>
  <strong>Baseprice:</strong>
  <%= @apartment_type.BasePrice %>
</p>

<p>
  <strong>Area:</strong>
  <%= @apartment_type.Area %>
</p>

<p>
  <strong>Status:</strong>
  <%= @apartment_type.Status %>
</p>

<%= link_to 'Edit', edit_apartment_type_path(@apartment_type) %> |
<%= link_to 'Back', apartment_types_path %>
