<%= form_with(model: city, local: true) do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h5 class="text-danger">Se encontraron los siguiente errores:</h5>

      <ul class="ml-3 text-danger">
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name, :class => "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :IdState, 'Departamento' %>  
    <%= form.select :state_id, State.all.collect {|e| [e.Name, e.id]}, {:include_blank => "Seleccione el Departamento"}, {:class => "form-control"} %>    
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Guardar", :type => :image, :src => "/assets/SaveIconBig.png", :title => 'Guardar' %>
  </div>
<% end %>
