<div class="jumbotron p-4">
  <h2><b>Ver | Proyectos</b></h2>
  <div class="table-responsive-sm w-50">
    <h5>
      <p id="notice" class="badge badge-pill badge-success pt-2 pb-2"><%= notice %></p>
    </h5>
    <hr>
    <p>
      <strong>Proyecto:</strong>
      <td><%= Project.select(:Name).where("id = " + @project_apartment_type.project_id.to_s).collect(&:Name)[0] %></td>
    </p>

    <p>
      <strong>Tipo de Departamento:</strong>
      <td><%= ApartmentType.select(:Name).where("id = " + @project_apartment_type.apartment_type_id.to_s).collect(&:Name)[0] %></td>
    </p>

    <p>
      <strong>Area:</strong>
      <%= @project_apartment_type.Area %>
    </p>

    <p>
      <strong>Piso:</strong>
      <%= @project_apartment_type.Floor %>
    </p>

    <p>
      <strong>Cantidad:</strong>
      <%= @project_apartment_type.Quantity %>
    </p>

    <p>
      <strong>Activo:</strong>
      <%= check_box_tag "IsActive", 0, @project_apartment_type.IsActive, disabled: true, class: "checkBoxSyleIndex" %>
    </p>
    <hr>
    <%= link_to image_tag('EditIconBig.png'), edit_project_apartment_type_path(@project_apartment_type), title: 'Editar' %> |
    <%= link_to image_tag('BackIconBig.png'), project_apartment_types_path, title: 'Atras'  %>

  </div>
</div>
