<%= form_with(model: project_apartment, local: true) do |form| %>
  <% if project_apartment.errors.any? %>
    <div id="error_explanation">
      <h5 class="text-danger">Se encontraron los siguiente errores:</h5>

      <ul class="ml-3 text-danger">
      <% project_apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <hr>
  <div class="ml-3 mt-4 row">
    <div class="col-sm-4">
      <%= form.label :project_id, 'Proyecto' %>
    </div>
    <div class="col-sm-8">      
      <%= 
      if session[:s_project_id]
        form.select :project_id, Project.all.collect {|e| [e.Name, e.id]}, { selected: session[:s_project_id] }, { class: "form-control" }
        #form.label :project_id, value: Project.select(:Name).where("id = " + session[:s_project_id].to_s).collect(&:Name)[0]
      else
        form.select :project_id, Project.all.collect {|e| [e.Name, e.id]}, {:include_blank => "Seleccione el Proyecto"}, {:class => "form-control"} 
      end
      %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-4">
      <%= form.label :project_apartment_type_id, 'Tipo Departamento' %>
    </div>
    <div class="col-sm-8">
      <%= 
      if session[:s_project_id]
        form.select :project_apartment_type_id, ProjectApartmentType.joins(:apartment_type).select("project_apartment_types.id, project_apartment_types.project_id, apartment_types.Name as at_Name").where("project_id = " + session[:s_project_id].to_s).collect {|e| [e.at_Name, e.id]}, {:include_blank => "Seleccione el Tipo de Departamento"}, {:class => "form-control"}
      else
        form.select :project_apartment_type_id, ProjectApartmentType.joins(:apartment_type, :project).select("project_apartment_types.id, projects.Name as p_Name, apartment_types.Name as at_Name").collect {|e| [e.p_Name + ' - ' + e.at_Name, e.id]}, {:include_blank => "Seleccione el Tipo de Departamento"}, {:class => "form-control"}
      end
      %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-4">
      <%= form.label :Number, 'Número' %>
    </div>
    <div class="col-sm-8">
      <%= form.text_field :Number, :class => "form-control" %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-4">
      <%= form.label :Description, 'Descripción' %>
    </div>
    <div class="col-sm-8">
      <%= form.text_area :Description, :rows => 4, :class => "form-control" %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-4">
      <%= form.label :Picture, 'Portada' %>
    </div>
    <div class="col-sm-8">
      <%= form.file_field :Picture, :class => "form-control" %>
      <%= image_tag(project_apartment.Picture.to_s, :width => 400, :height => 400, :class => "img-fluid img-thumbnail") %>
    </div>    
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-4">
      <%= form.label :Status, 'Estado' %>
    </div>
    <div class="col-sm-8">
      <%= form.select :Status, ([["Disponible", "0"], ["Separado", "1"], ["Vendido", "2"]]), {:class => "form-control"} %>      
    </div>
  </div>
  <hr>
  <div class="actions">
    <%= form.submit "Guardar", :type => :image, :src => "/assets/SaveIconBig.png", :title => 'Guardar' %>
  </div>
<% end %>
