<div class="jumbotron p-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!--Logotipo-->
                <%= link_to image_tag("Logo.png", :size=>"170x160"), {:action=>"index"} %>
            </div>
            <div class="col-sm-6 offset3">
                <div class="text-center">
                    <h1 class="display-5 text-secondary">Constructora J&J</h1>
                    <p class="lead">El mejor camino a tu próximo hogar.</p>
                    <p class="lead">Encuentra propiedades en venta, alquileres y proyectos.</p>
                </div>     
            </div>
        </div>
    </div> 
    
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <select class="form-control">
                    <option>Seleccione un tipo de inmueble</option>
                    <option>Default select</option>
                    <option>Default select</option>
                    <option>Default select</option>
                </select>
            </div>
            <div class="col-sm-4">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>
                        Buscar</button>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <hr class="my-4">
    <div class="text-center m-3">
            <h3>Proyectos destacados</h3>
    </div>        
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio1_opt.jpg') %> 
                    <div class="card-body">
                        <h5 class="card-title">Proyecto Los Antares</h5>
                        <p class="card-text text-justify">
                            Uno de los edificios inteligentes más modernos de la zona, localizado a media cuadra de la Huaca Pucllana, en pleno centro de Miraflores
                        </p>
                        <div class="row text-center">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <a href="project/details" class="btn btn-primary">Ver mas</a>
                            </div>
                            <div class="col-md-5">
                                <a href="requestquotation/new" class="btn btn-primary">Cotizar</a>
                            </div>
                            <div class="col-md-1"></div>                
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio2_opt.jpg') %> 
                    <div class="card-body">
                        <h5 class="card-title">Proyecto Las Lomas</h5>
                        <p class="card-text text-justify">
                            Vivir frente al mar, respirar el aire más puro y empezar el día revitalizado es un privilegio que hoy puedes disfrutar con tu familia.
                        </p>
                            <div class="row text-center">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <a href="project/details" class="btn btn-primary">Ver mas</a>
                                </div>
                                <div class="col-md-5">
                                    <a href="requestquotation/new" class="btn btn-primary">Cotizar</a>
                                </div>
                                <div class="col-md-1"></div>                
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio3_opt.jpg') %> 
                    <div class="card-body">
                        <h5 class="card-title">Proyecto El Olivar</h5>
                        <p class="card-text text-justify">
                            Vive cerca a todo lo que necesitas (centro comercial La Rambla, Metro, entre otros) y disfruta de mayor tiempo con tu familia.
                        </p>
                        <div class="row text-center">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <a href="project/details" class="btn btn-primary">Ver mas</a>
                            </div>
                            <div class="col-md-5">
                                <a href="requestquotation/new" class="btn btn-primary">Cotizar</a>
                            </div>
                            <div class="col-md-1"></div>                
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio4_opt.jpg') %> 
                    <div class="card-body">
                        <h5 class="card-title">Proyecto Las Torres</h5>
                        <p class="card-text text-justify">
                            Imagínate vivir en una zona segura y llena del confort que buscas con una increíble vista al mar. Nuestro condominio tiene una ubicación ideal, a unos minutos de Plaza San Miguel, colegios y del Parque de las Leyendas.
                        </p>
                        <div class="row text-center">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <a href="project/details" class="btn btn-primary">Ver mas</a>
                            </div>
                            <div class="col-md-5">
                                <a href="requestquotation/new" class="btn btn-primary">Cotizar</a>
                            </div>
                            <div class="col-md-1"></div>                
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio5_opt.jpg') %> 
                    <div class="card-body">
                        <h5 class="card-title">Proyecto La Aurora</h5>
                        <p class="card-text text-justify">
                            En Ciudad Nueva disfrutarás con tu familia de un condominio único en el Callao, vivirás muy cerca a centros comerciales, colegios, instituciones educativas para tus hijos, hospitales y tendrás fácil acceso a vías principales.
                        </p>
                        <div class="row text-center">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <a href="project/details" class="btn btn-primary">Ver mas</a>
                            </div>
                            <div class="col-md-5">
                                <a href="requestquotation/new" class="btn btn-primary">Cotizar</a>
                            </div>
                            <div class="col-md-1"></div>                
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio6_opt.jpg') %> 
                    <div class="card-body">
                        <h5 class="card-title">Proyecto El Alamo</h5>
                        <p class="card-text text-justify">
                            ¡Regálale a tu familia una mejor calidad de vida! Tenemos departamentos de 3 dormitorios con excelentes acabados, áreas comunes, gimnasio, zona de parrillas y sala cine en la mejor ubicación de Lima Sur.
                        </p>
                        <div class="row text-center">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <a href="project/details" class="btn btn-primary">Ver mas</a>
                            </div>
                            <div class="col-md-5">
                                <a href="requestquotation/new" class="btn btn-primary">Cotizar</a>
                            </div>
                            <div class="col-md-1"></div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>