<div class="jumbotron p-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!--Logotipo-->
                <%# <%= link_to image_tag("Logo.png", :size=>"170x160"), {:action=>"index"} %>
            </div>
            <div class="col-sm-6 offset3">
                <div class="text-center">
                    <h1 class="display-5 text-secondary"><strong>Constructora J&J</strong></h1>
                    <p class="lead font-italic">El mejor camino a tu próximo hogar.</p>
                    <p class="lead font-italic">Encuentra propiedades en venta, alquileres y proyectos.</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="text-center m-3">
        <h2 class="text-primary text-uppercase"><strong>Proyectos destacados</strong></h2>
    </div>  
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio1_opt.jpg') %> 
                    <div class="card-body">    
                        <h4 class="card-title text-center text-uppercase"><strong>Los Antares</strong></h4>
                        <div class="col-sm-12 m-2">
                            <p class="card-text">
                                <i class="fas fa-building"></i>
                                3 Dorm / 2 Baños / 190 mts²
                            </p>
                            <p class="card-text">
                                <i class="fas fa-key"></i>
                                Entrega Inmediata
                            </p>
                            <p class="card-text">
                                <i class="fas fa-map-marker-alt"></i>
                                Ubicación: San Isidro
                            </p>
                        </div>                
                        <div class="row text-center p-2">
                            <!-- <div class="col-sm-1"></div> -->
                            <div class="col-sm-6">
                                <a href="project/details" class="btn btn-primary"><i class="fas fa-eye"></i> Ver mas</a>
                            </div>
                            <br><br>
                            <div class="col-sm-6">
                                <a href="request_quotations/new" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Cotizar</a>
                            </div>
                            <!-- <div class="col-sm-1"></div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio2_opt.jpg') %> 
                    <div class="card-body">
                        <h4 class="card-title text-center text-uppercase"><strong>Las Lomas</strong></h4>
                        <div class="col-sm-12 m-2">
                            <p class="card-text">
                                <i class="fas fa-building"></i>
                                3 Dorm / 2 Baños / 170 mts²
                            </p>
                            <p class="card-text">
                                <i class="fas fa-key"></i>
                                Entrega Inmediata
                            </p>
                            <p class="card-text">
                                <i class="fas fa-map-marker-alt"></i>
                                Ubicación: Magdalena del Mar
                            </p>
                        </div>
                        <div class="row text-center p-2">
                            <!-- <div class="col-sm-1"></div> -->
                            <div class="col-sm-6">
                                <a href="project/details" class="btn btn-primary"><i class="fas fa-eye"></i> Ver mas</a>
                            </div>
                            <br><br>
                            <div class="col-sm-6">
                                <a href="request_quotations/new" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Cotizar</a>
                            </div>
                            <!-- <div class="col-sm-1"></div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio3_opt.jpg') %> 
                    <div class="card-body">
                        <h4 class="card-title text-center text-uppercase"><strong>El Olivar</strong></h4>
                        <div class="col-sm-12 m-2">
                            <p class="card-text">
                                <i class="fas fa-building"></i>
                                3 Dorm / 2 Baños / 150 mts²
                            </p>
                            <p class="card-text">
                                <i class="fas fa-key"></i>
                                En construcción
                            </p>
                            <p class="card-text">
                                <i class="fas fa-map-marker-alt"></i>
                                Ubicación: Miraflores
                            </p>
                        </div>
                        <div class="row text-center p-2">
                            <!-- <div class="col-sm-1"></div> -->
                            <div class="col-sm-6">
                                <a href="project/details" class="btn btn-primary"><i class="fas fa-eye"></i> Ver mas</a>
                            </div>
                            <br><br>
                            <div class="col-sm-6">
                                <a href="request_quotations/new" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Cotizar</a>
                            </div>
                            <!-- <div class="col-sm-1"></div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio4_opt.jpg') %> 
                    <div class="card-body">
                        <h4 class="card-title text-center text-uppercase"><strong>Las Torres</strong></h4>
                        <div class="col-sm-12 m-2">
                            <p class="card-text">
                                <i class="fas fa-building"></i>
                                2 y 3 Dorm / 70 a 172 mts²
                            </p>
                            <p class="card-text">
                                <i class="fas fa-key"></i>
                                Entrega Inmediata
                            </p>
                            <p class="card-text">
                                <i class="fas fa-map-marker-alt"></i>
                                Ubicación: Breña
                            </p>
                        </div>
                        <div class="row text-center p-2">
                            <!-- <div class="col-sm-1"></div> -->
                            <div class="col-sm-6">
                                <a href="project/details" class="btn btn-primary"><i class="fas fa-eye"></i> Ver mas</a>
                            </div>
                            <br><br>
                            <div class="col-sm-6">
                                <a href="request_quotations/new" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Cotizar</a>
                            </div>
                            <!-- <div class="col-sm-1"></div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio5_opt.jpg') %> 
                    <div class="card-body">
                        <h4 class="card-title text-center text-uppercase"><strong>La Aurora</strong></h4>
                        <div class="col-sm-12 m-2">
                            <p class="card-text">
                                <i class="fas fa-building"></i>
                                3 Dorm / 2 Baños / 134 mts²
                            </p>
                            <p class="card-text">
                                <i class="fas fa-key"></i>
                                En construcción
                            </p>
                            <p class="card-text">
                                <i class="fas fa-map-marker-alt"></i>
                                Ubicación: Lince
                            </p>
                        </div>
                        <div class="row text-center p-2">
                            <!-- <div class="col-sm-1"></div> -->
                            <div class="col-sm-6">
                                <a href="project/details" class="btn btn-primary"><i class="fas fa-eye"></i> Ver mas</a>
                            </div>
                            <br><br>
                            <div class="col-sm-6">
                                <a href="request_quotations/new" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Cotizar</a>
                            </div>
                            <!-- <div class="col-sm-1"></div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top img-fluid" <%= link_to image_tag('Edificio6_opt.jpg') %> 
                    <div class="card-body">
                        <h4 class="card-title text-center text-uppercase"><strong>El Alamo</strong></h4>
                        <div class="col-sm-12 m-2">
                            <p class="card-text">
                                <i class="fas fa-building"></i>
                                1, 2 y 3 Dorm / 40 a 72 mts²
                            </p>
                            <p class="card-text">
                                <i class="fas fa-key"></i>
                                Entrega Inmediata
                            </p>
                            <p class="card-text">
                                <i class="fas fa-map-marker-alt"></i>
                                Ubicación: Jesus Maria
                            </p>
                        </div>
                        <div class="row text-center p-2">
                            <!-- <div class="col-sm-1"></div> -->
                            <div class="col-sm-6">
                                <a href="project/details" class="btn btn-primary"><i class="fas fa-eye"></i> Ver mas</a>
                            </div>
                            <br><br>
                            <div class="col-sm-6">
                                <a href="request_quotations/new" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Cotizar</a>
                            </div>
                            <!-- <div class="col-sm-1"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
