<p id="notice"><%= notice %></p>

<p>
  <strong>Idproject:</strong>
  <%= @project.IdProject %>
</p>

<p>
  <strong>Idcity:</strong>
  <%= @project.IdCity %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.Name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @project.Price %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @project.StartDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @project.EndDate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @project.Address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.Description %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @project.Floors %>
</p>

<p>
  <strong>Apartmentsquantity:</strong>
  <%= @project.ApartmentsQuantity %>
</p>

<p>
  <strong>Parkingsquantity:</strong>
  <%= @project.ParkingsQuantity %>
</p>

<p>
  <strong>Availableparkings:</strong>
  <%= @project.AvailableParkings %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.Status %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
