<div class="jumbotron p-4">
  <h2><b>Cotización</b></h2>
  <p id="notice" class="badge badge-pill badge-danger pt-2 pb-2"><%= notice %></p>
  <div class="table-responsive-sm">
    <table class="table table-striped table-hover w-100">
      <thead class="thead-dark">
        <tr>
          <th colspan="4" class="text-center">
            <%= link_to image_tag('NewIcon.png'), new_quotation_path, title: 'Nuevo' %>
          </th>
          <th class="text-center">Cotización</th>
          <th class="text-center">Solicitud</th>
          <th>Proyecto</th>
          <th class="text-center">Depart.</th>
          <th>Cliente</th>
          <th>Fecha</th>
          <th>Precio</th>
          <th>Válido por</th>
          <th>Estado</th>
        </tr>
      </thead>

      <tbody>
        <% @quotations.each do |quotation| %>
          <tr>
            <td style="width:33px" class="pr-2 pl-2"><%= link_to image_tag('ShowIcon.png'), quotation, title: 'Ver' %></td>
            <td style="width:33px" class="pr-1 pl-1"><%= link_to image_tag('EditIcon.png'), edit_quotation_path(quotation), title: 'Editar' %></td>
            <td style="width:33px" class="pr-1 pl-1"><%= link_to image_tag('NewDocIcon.png'), apartment_bookings_newfromquotation_path + '/' + quotation.id.to_s, title: 'Generar Reserva' %></td>
            <td style="width:40px" class="pr-1 pl-2">
              <%= link_to image_tag('DeleteIcon.png'), quotation, title: 'Eliminar', method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
            <td class="text-center"><%= quotation.id %></td>
            <td class="text-center"><%= RequestQuotation.select(:id).where("id = " + quotation.request_quotation_id.to_s).collect(&:id)[0] %></td>
            <td><%= RequestQuotation.joins(:project).select("request_quotations.id as rq_id, projects.Name as p_Name").where("rq_id = " + quotation.request_quotation_id.to_s).collect {|e| e.p_Name}[0]  %></td>
            <td class="text-center"><%= RequestQuotation.joins(:project_apartment).select("request_quotations.id as rq_id, project_apartments.Number as pa_Number").where("rq_id = " + quotation.request_quotation_id.to_s).collect {|e| e.pa_Number}[0] %></td>
            <td><%= Client.select(:Name, :LastName).where("id = " + quotation.client_id.to_s).collect {|e| e.Name + ' ' + e.LastName} [0] %></td>              
            </td>
            <td><%= quotation.QuotationDate %></td>
            <td><%= quotation.Price %></td>
            <td><%= quotation.ValidFor %></td>
            <td>
              <%=
              case quotation.Status
              when 0
                "Generado"
              when 1
                "Aprobado"
              when 2
                "Rechazado"
              when 3
                "Cancelado"
              else
                "No Definido"
              end %>              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>