<%= form_with(model: request_quotation, local: true) do |form| %>
  <% if request_quotation.errors.any? || @valerror != nil %>
    <div id="error_explanation">
      <h5 class="text-danger">Se encontraron los siguiente errores:</h5>

      <ul class="ml-3 text-danger">
      <% request_quotation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <% if @valerror != nil %>
          <li><%= @valerror %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <hr>
  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">
    </div>
  </div>
  
  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
      <%= form.label :IdProject, 'Proyecto' %>
    </div>
    <div class="col-sm-9">
    <%= form.select :project_id, Project.all.collect {|e| [e.Name, e.id]}, {:include_blank => "Seleccione el Proyecto"}, {:class => "form-control"} %>        
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
      <%= form.label :IdUser, 'Usuario' %>
    </div>
    <div class="col-sm-9">
    <%= form.select :user_id, User.all.collect {|e| [e.Name, e.id]}, {:include_blank => "Seleccione el Usuario"}, {:class => "form-control"} %>        
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
      <%= form.label :IdProjectDepartment, 'Departamento' %>
    </div>
    <div class="col-sm-9">
    <%= form.select :project_apartment_id, ProjectApartment.where('Status = 0').collect {|e| [e.Number, e.id]}, {:include_blank => "Seleccione el Departamento"}, {:class => "form-control"} %>        
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
      <%= form.label :IdentityNumber, 'DNI' %>
    </div>
    <div class="col-sm-9">
      <%= form.text_field :IdentityNumber, :class => "form-control" %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
      <%= form.label :Name, 'Nombre' %>
    </div>
    <div class="col-sm-9">
      <%= form.text_field :Name, :class => "form-control" %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
      <%= form.label :LastName, 'Apellidos' %>
    </div>
    <div class="col-sm-9">
      <%= form.text_field :LastName, :class => "form-control" %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
      <%= form.label :Mail, 'Correo' %>
    </div>
    <div class="col-sm-9">
      <%= form.text_field :Mail, :class => "form-control" %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
      <%= form.label :Phone, 'Teléfono' %>
    </div>
    <div class="col-sm-9">
      <%= form.text_field :Phone, :class => "form-control" %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
      <%= form.label :RequestDate, 'Fecha' %>
    </div>
    <div class="col-sm-9">
      <%= form.date_select :RequestDate, :class => "form-control" %>
    </div>
  </div>

  <div class="ml-3 mt-4 row">
    <div class="col-sm-3">
      <%= form.label :Status, 'Estado' %>
    </div>
    <div class="col-sm-8">
    <%= form.select :Status, ([["Generado", "0"], ["Cotizado", "1"], ["Rechazado", "2"], ["Cancelado", "3"]]), { :class => "form-control" } %>      
    </div>
  </div>
  <hr>
  <div class="actions">
    <%= form.submit "Guardar", :type => :image, :src => "/assets/SaveIconBig.png", :title => 'Guardar' %>
  </div>
<% end %>
