<div class="jumbotron p-4">
  <h2><b>Ver | Solicitud de Cotización</b></h2>
  <div class="table-responsive-sm w-50">
    <h5>
      <p id="notice" class="badge badge-pill badge-success pt-2 pb-2"><%= notice %></p>
    </h5>
    <hr>
    <p>
      <strong>Número:</strong>
      <%= @request_quotation.id %>
    </p>

    <p>
      <strong>Número ID:</strong>
      <%= @request_quotation.IdentityNumber %>
    </p>

    <p>
      <strong>Nombre:</strong>
      <%= @request_quotation.Name %>
    </p>

    <p>
      <strong>Apellidos:</strong>
      <%= @request_quotation.LastName %>
    </p>

    <p>
      <strong>Proyecto:</strong>
      <td><%= Project.select(:Name).where("id = " + @request_quotation.project_id.to_s).collect(&:Name)[0] %></td>
    </p>

    <p>
      <strong>Usuario:</strong>
      <td><%= User.select(:Name).where("id = " + @request_quotation.user_id.to_s).collect(&:Name)[0] %></td>
    </p>

    <p>
      <strong>Correo:</strong>
      <%= @request_quotation.Mail %>
    </p>

    <p>
      <strong>Teléfono:</strong>
      <%= @request_quotation.Phone %>
    </p>

    <p>
      <strong>Fecha Solicitud:</strong>
      <%= @request_quotation.RequestDate %>
    </p>

    <p>
      <strong>Estado:</strong>
      <%=
      case @request_quotation.Status
      when 0
        "Generado"
      when 1
        "Cotizado"
      when 2
        "Rechazado"
      when 3
        "Cancelado"        
      else
        "No Definido"
      end %>
    </p>
    <hr>
    <%= link_to image_tag('EditIconBig.png'), edit_request_quotation_path(@request_quotation), title: 'Editar' %> |
    <%= link_to image_tag('BackIconBig.png'), request_quotations_path, title: 'Atras'  %>

  </div>
</div>
