<% provide(:title, "Edit user") %>

<hr>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
      <div class="ml-3 mt-2 row">
        <div class="col-sm-2">
            <%= f.label :name, 'Nombre' %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="ml-3 mt-2 row">
        <div class="col-sm-2">
          <%= f.label :IdProfile, 'Perfil' %>
        </div>
        <div class="col-sm-10">
          <%= f.select :profile_id, Profile.all.collect {|e| [e.Name, e.id]}, {:include_blank => "Seleccione el Perfil"}, {:class => "form-control"} %>
        </div>
      </div>
      <div class="ml-3 mt-2 row">
        <div class="col-sm-2">
          <%= f.label :IdCity, 'Distrito' %>
        </div>
        <div class="col-sm-10">
          <%= f.select :city_id, City.all.collect {|e| [e.Name, e.id]}, {:include_blank => "Seleccione el Distrito"}, {:class => "form-control"} %>
        </div>
      </div>
      <div class="ml-3 mt-2 row">
        <div class="col-sm-2">
          <%= f.label :Address, 'Dirección' %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :Address, :class => "form-control" %>
        </div>
      </div>

      <div class="ml-3 mt-2 row">
        <div class="col-sm-2">
          <%= f.label :email, 'Correo' %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :email, :class => "form-control" %>
        </div>
      </div>

      <div class="ml-3 mt-2 row">
        <div class="col-sm-2">
          <%= f.label :password, 'Contraseña' %>
        </div>
        <div class="col-sm-10">
          <%= f.password_field :password, :class => "form-control" %>
        </div>
      </div>

      <div class="ml-3 mt-2 row">
        <div class="col-sm-2">
          <%= f.label :password_confirmation, 'Confirmar Contraseña' %>
        </div>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, :class => "form-control" %>
        </div>
      </div>

      <div class="ml-3 mt-2 row">
        <div class="col-sm-2">
          <%= f.label :Phone, 'Telefono' %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :Phone, :class => "form-control" %>
        </div>
      </div>

      <div class="ml-3 mt-2 row">
        <div class="col-sm-2">
          <%= f.label :IsActive, 'Activo' %>
        </div>
        <div class="col-sm-10">
          <%= f.check_box :IsActive, :class => "checkBoxSyleForm" %>
        </div>
      </div>

      <hr>
      <div class="actions">
        <%= f.submit "Guardar", :type => :image, :src => "/assets/SaveIconBig.png", :title => 'Guardar' %>
      </div>
  <% end %>



