<div class="jumbotron p-4">
	<h2><b>Gestor de Ventas</b></h2>
	<div class="table-responsive-sm">
		<table class="table table-striped table-hover">
			<thead class="thead-dark">
				<tr>
				  <th class="text-center">N° Operación</th>
				  <th>N° Reserva</th>
				  <th>Cliente</th>
				  <th>Entidad Bancaria</th>
				  <th>Fecha</th>
				  <th class="text-center">Modo Pago</th>
				  <th>Contado</th>
				  <th>Financiado</th>
				  <th class="text-center" colspan="2"><%= link_to 'Nuevo', 'new' %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
			        <td>13912309</td>
			        <td>BK2312390</td>
			        <td>Juan Velasques Torres</td>
			        <td>BCP</td>
			        <td>2019-01-20</td>
			        <td>Contado</td>
			        <td>$ 1,000</td>
			        <td>$ 0</td>
				    <td class="text-center"><%= link_to 'Editar', 'edit' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<tr>
			        <td>1391253</td>
			        <td>BK231242</td>
			        <td>Antonio Caceres Cruz</td>
			        <td>BBVA</td>
			        <td>2019-01-29</td>
			        <td>Contado</td>
			        <td>$ 5,000</td>
			        <td>$ 0</td>
                    <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<tr>
			        <td>13912309</td>
			        <td>BK2312390</td>
			        <td>Luis Perez Saenz</td>
			        <td>Banco Pichincha</td>
			        <td>2019-02-12</td>
			        <td>Financiado</td>
			        <td>$ 0</td>
			        <td>$ 5,000</td>
                    <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<tr>
			        <td>13912333</td>
			        <td>BK2312412</td>
			        <td>María Chavez Reque</td>
			        <td>BCP</td>
			        <td>2019-03-19</td>
			        <td>Financiado</td>
			        <td>$ 0</td>
			        <td>$ 3,200</td>
                    <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<tr>
			        <td>13912397</td>
			        <td>BK2312041</td>
			        <td>Angel Miguel Flores Ramos</td>
			        <td>Interbank</td>
			        <td>2019-02-12</td>
			        <td>Contado</td>
			        <td>$ 6,000</td>
			        <td>$ 0</td>
                    <td class="text-center"><%= link_to 'Editar' %></td>
			        <td class="text-center"><%= link_to 'Eliminar', method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			</tbody>
		</table>
	</div>
    <div class="row p-4">
    	<div class="col-sm-2">
    		<a href="/administration/intranet" class="btn btn-primary btn-block">Regresar</a>
    	</div>
        <br><br>
        <div class="col-sm-3"></div>
        <div class="btn-toolbar text-center col-sm-5" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary"><i
                        class="fas fa-angle-double-left"></i></button>
                <button type="button" class="btn btn-secondary"><i
                        class="fas fa-chevron-left"></i></button>
                <button type="button" class="btn btn-secondary"><i
                        class="fas fa-chevron-right"></i></button>
                <button type="button" class="btn btn-secondary"><i
                        class="fas fa-angle-double-right"></i></button>
            </div>
        </div>
    	<div class="col-sm-2"></div>
    </div>
</div>