<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :IdClient %>
    <%= form.text_field :IdClient %>
  </div>

  <div class="field">
    <%= form.label :IdCity %>
    <%= form.text_field :IdCity %>
  </div>

  <div class="field">
    <%= form.label :IdentityNumber %>
    <%= form.text_field :IdentityNumber %>
  </div>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :LastName %>
    <%= form.text_field :LastName %>
  </div>

  <div class="field">
    <%= form.label :Address %>
    <%= form.text_field :Address %>
  </div>

  <div class="field">
    <%= form.label :Mail %>
    <%= form.text_field :Mail %>
  </div>

  <div class="field">
    <%= form.label :Phone %>
    <%= form.text_field :Phone %>
  </div>

  <div class="field">
    <%= form.label :IsActive %>
    <%= form.check_box :IsActive %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
