<div class="jumbotron p-4">
  <h2><b>Clientes</b></h2>
  <p id="notice" class="badge badge-pill badge-danger pt-2 pb-2"><%= notice %></p>
  <div class="table-responsive-sm">
    <table class="table table-striped table-hover w-100">
      <thead class="thead-dark">
        <tr>
          <th colspan="3" class="text-center">
            <%= link_to image_tag('NewIcon.png'), new_client_path, title: 'Nuevo' %>
          </th>
          <th>DNI</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Dirección</th>
          <th>Distrito</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th class="text-center">Activo</th>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td style="width:33px" class="pr-2 pl-2"><%= link_to image_tag('ShowIcon.png'), client, title: 'Ver' %></td>
            <td style="width:33px" class="pr-1 pl-1"><%= link_to image_tag('EditIcon.png'), edit_client_path(client), title: 'Editar' %></td>
            <td style="width:40px" class="pr-1 pl-2">
              <%= link_to image_tag('DeleteIcon.png'), client, title: 'Eliminar', method: :delete, data: { confirm: '¿Esta seguro?' } %>              
            </td>
            <td><%= client.IdentityNumber %></td>
            <td><%= client.Name %></td>
            <td><%= client.LastName %></td>
            <td><%= client.Address %></td>
            <td>
              <%= 
                if client.city_id != nil
                  City.select(:Name).where("id = " + client.city_id.to_s).collect(&:Name)[0] 
                end
              %>
            </td>
            <td><%= client.Mail %></td>
            <td><%= client.Phone %></td>
            <td class="text-center">
              <%= check_box_tag "IsActive", 0, client.IsActive, disabled: true, class: "checkBoxSyleIndex" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>